absl-py
attrs
autopep8
click
cmake=
colorama
contourpy
cycler
dlib @ file:///E:/AI%20Developer/04.%20Capstone%20Project/dlib-19.22.99-cp39-cp39-win_amd64.whl
face-recognition
face-recognition-models
fonttools
imutils
joblib
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
packaging
pandas
Pillow
protobuf
pycodestyle
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
toml
Unidecode
